.grid{
    -fx-background-color: linear-gradient(to right, #FEFAD4, white);
}

.roomViewOuterVBOX {
    -fx-background-color: white;
    -fx-background-radius: 40px;
    -fx-border-radius: 35px;
    -fx-border-width: 7px;
    -fx-border-color: rgb(255, 239, 97);
}

.roomPane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: white;
}

.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(255, 248, 187);
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(255, 248, 187);
    -fx-background-radius: 5em;
}


.text{
    -fx-font-family: "Chalkboard SE";
    -fx-font-size: 20px;
    -fx-background-radius: 30px;
}

.questiontext{
    -fx-font-family: "Chalkboard SE";
    -fx-font-size: 20px;
    -fx-background-radius: 30px;
}

.timetext{
    -fx-font-family: "Chalkboard SE";
    -fx-font-size: 15px;
    -fx-background-radius: 30px;
}

.addbutton{
    -fx-background-color: rgb(255, 239, 97);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.addbutton:hover{
    -fx-opacity: 80%;
}

.textfield{
    -fx-background-color: white;
    -fx-background-radius: 40px;
    -fx-border-radius: 35px;
    -fx-border-width: 3px;
    -fx-border-color: rgb(255, 239, 97);
}

.comboBox {
    -fx-background-color: white;
}

.combo-box {
    -fx-border-width: 2px;
    -fx-border-color: rgb(255, 239, 97);
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 15px;
}

/*When hovering over the box, the border becomes red*/
.combo-box-base:hover {
    -fx-border-color: red;
}

/*Edit Normal Cell color */
.combo-box .combo-box-popup .list-cell{
    -fx-background-color: linear-gradient(to right, #ccf8ff, white, transparent 90%);
    /*-fx-background-color: #ccf8ff;*/
    -fx-text-fill: rgb(255, 234, 47);
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

/*Edit Cell Color when cursor hovers over that cell*/
.combo-box .combo-box-popup .list-cell:hover{
    -fx-background-color: rgb(255, 234, 47);
    -fx-text-fill: white;
}

/*Edit Cell Color Only when selected */
.combo-box .combo-box-popup .list-cell:selected{
    -fx-background-color: rgb(253, 242, 143);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
}
