* {
    -linearBackground1: #57b0f2;
    -linearBackground2: #4cf2fa;
}

.grid {
    -fx-background-color: linear-gradient(to right, -linearBackground1, -linearBackground2, transparent 85%);
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 20px;    -fx-fill: black;
    -fx-font-weight: bold;
}

.text-field {
    -fx-border-width: 2px;
    -fx-border-color: #2f93ff;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 15px;
}

.button {
    -fx-background-color: #2f93ff;
    -fx-text-fill: white;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-font-size: 15px;
}

.button:hover {
    -fx-border-width: 2px;
    -fx-border-color: #2f93ff;
    -fx-text-fill: #2f93ff;
    -fx-background-color: none;
}
