.grid {
   #-fx-background-color: linear-gradient(to right, #f2673d, #fa37a2, transparent 80%);

}

.sidebar {
    #-fx-background-color: #333645;
    -fx-background-color: linear-gradient(#f2673d, #fa37a2, transparent 97%);
    -fx-background-color: linear-gradient(#f2673d, #fa37a2, transparent 97%);

}
.logo {
    -fx-background-radius: 55px;
    -fx-border-radius: 50px;
}

.buttons {
    -fx-background-color: #ff8da8;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 5px;
    -fx-border-color: #ff1f8d;
}

.buttonText {
    -fx-background-color: grey;
    -fx-font: 20px Tahoma;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1.5;
}
